:root {
  --main-dark-color: #236830; /*Dark Green*/
  --main-lite-color: #8ebf44; /*Lite Green*/
  --main-green-color: #6d9e3c; /*dark*/
  --main-white-color: #ffffff; /*White*/
  --main-black-color: #000000; /*Black*/
}
.logo-box-style2{
	display: inline-block;
	margin: 5px 0;
}
.main-menu-box{
	display: inline-block;
    float: right;
}
.top-bar-style2{
	background: var(--main-lite-color);
	padding: 5px 50px;
}
.logo-box-style2 img{
	width: 190px;
}
.top-style2 li a{
	color: #fff;
}
.top-style2 li a:hover{
	color: var(--main-green-color);
}
.top-style2-left ul li:before{
	background: var(--main-lite-color); 
}
.top-style2-right .topbar-social-links li a i{
	color: var(--main-white-color);
}
.top-style2-right .topbar-social-links li a:hover i{
	color: var(--main-green-color);
}
.sec-title p{
	color: var(--main-green-color);
}
.btn-one{
	background: var(--main-lite-color);
}
.btn-one:hover{
	background: var(--main-green-color);
}
.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a{
	color: var(--main-green-color);
}
.outer-search-box .seach-toggle:hover, .outer-search-box .seach-toggle.active{
	color: var(--main-lite-color);
}
.scroll-to-top{
	background: var(--main-lite-color);
    border: 2px solid var(--main-lite-color);
}
.about-style2-image-box .overlay-box .button a span:before{
	background: var(--main-lite-color);
}
.about-style2-text .authorised-info .name p{
	color: var(--main-lite-color);
}
.single-project-style3 .overlay-content{
	border: 4px solid var(--main-lite-color);
}
.single-project-style3 .overlay-content .inner-content .links-icons a:hover span:before{
	color: var(--main-lite-color);
}
.project-carousel-v3.owl-carousel .owl-nav [class*="owl-"]{
	border: 1px solid #cccccc;
}
.project-carousel-v3.owl-carousel .owl-nav [class*="owl-"]:hover{
	border-color: var(--main-lite-color);
}
.project-carousel-v3.owl-carousel .owl-nav [class*="owl-"] i:before{
	color: #cccccc;
}
.latest-projects-area{
	padding: 60px 60px 60px;
}
.single-project-style2 .title-box span{
	color: var(--main-green-color);
    font-weight: 500;
}
.recently-project-style2-area{
	padding: 70px 0 70px;
}
.footer-contact-info-area{
	background: transparent;
    margin: -100px 0 0px;
}
.footer-contact-info{
	background: var(--main-lite-color);
}
li .single-footer-contact-info .icon span:before{
	color: #efefef;
}
li .single-footer-contact-info .text p, li .single-footer-contact-info .text p a {
	color: #efefef;
}
li .single-footer-contact-info:hover .icon span:before{
	color: var(--main-lite-color);
}
.footer-area.style4{
	padding: 50px 0 130px;
}
.footer-bottom-area .copyright-text p a{
	color: var(--main-lite-color);
}
.footer-social-links .sociallinks-style-one li a:hover i{
	color: var(--main-lite-color);
}
.testimonial-style2-area{
	padding: 90px 0 30px;
}
.outer-search-box .seach-toggle{
	border-right: unset;
}
.outer-search-box{
	margin-right: 0px;
}
.main-menu .navigation > li > ul > li:hover > a{
	color: var(--main-lite-color);
}
.single-project-style2:hover .read-more a span:before{
	background: var(--main-lite-color);
}
.single-working-process-style2 .inner h3{
	min-height: 55px;
}
.single-working-process-style2 .top-box .count h1{
	color: var(--main-lite-color);
}
.single-working-process-style2 .icon img{
	width: 75px !important;
}
.working-process-carousel.owl-carousel .owl-nav [class*="owl-"]:hover{
	border-color: var(--main-lite-color);
}
.slogan-area{
	background: var(--main-lite-color);
}
.slogan-area .button a:hover{
	background: var(--main-green-color);
}
.single-testimonial-style3 .text-box{
	min-height: 155px;
}
.single-footer-widget .brochures-carousel-box .title-holder:before{
	display: none;
}
.btn-two:hover{
	color: var(--main-green-color);
}
.testimonial-carousel .owl-dots .owl-dot.active{
	background: var(--main-lite-color);
    border-color: var(--main-lite-color);
}
.main-slider.style2 .slide-content .btn-box a.play-button{
	background: var(--main-lite-color);
}
.why-choose-title .sec-title .icon{
	margin-bottom: 10px;
}
.why-choose-title .button{
	margin-top: 20px;
}
.why-choose-title .sec-title{
	padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
}
.why-choose-title{
	padding-bottom: 40px;
}
.why-choose-content .single-box.redbg, .why-choose-content .single-box.blackbg{
	background: var(--main-lite-color);
}
.why-choose-content .single-box.blackbg .text-holder p{
	color: var(--main-white-color);
}
.why-choose-content .single-box.whitebg .text-holder h3,
.why-choose-content .single-box.whitebg .text-holder h3{
	color: var(--main-lite-color);
}
.why-choose-title .button a{
	background: var(--main-lite-color);
}
.why-choose-title .button:before{
	background: var(--main-lite-color);
}
.why-choose-title .button a:hover{
	background: var(--main-lite-color);
}
.overlay-style-one{
	background-color: rgb(157 188 49 / 62%);
}
.footcontact li{
	display: flex;
}
.footcontact .footicon{
	font-size: 17px;
	margin-top: 5px;
	margin-right: 10px;
	color: var(--main-green-color);
}
.footcontact li p a{
	color: #828282;
}
.single-footer-widget .usefull-links ul.borders-left{
	margin-left: 55px;
    padding-left: 55px;
}
.single-footer-widget .our-info-box .text{
	padding-right: 35px;
}
.footer-area.style4{
	padding: 50px 0 20px;
}
.footer-bottom-area{
	padding: 10px 0;
}
.breadcrumb-area .inner-content{
	padding: 50px 0 0;
}
.breadcrumb-area .title{
	padding-bottom: 0px;
}
.about-carousel-box{
	padding: 25px 45px 25px;
}
.about-carousel-box{
	background: var(--main-lite-color);
}
.about-carousel-box:before{
	color: var(--main-lite-color);
}
.about-carousel-box .owl-dots .owl-dot.active{
	background: var(--main-lite-color);
    border-color: var(--main-lite-color);
}
.single-contact-address-box{
	box-shadow: 0px 4px 6px 2px #a7a7a7;
	-webkit-box-shadow: 0px 4px 6px 2px #a7a7a7;
	min-height: 240px;
}
.contact-address-area{
	padding-top: 200px;
	padding-bottom: 70px;
}
.single-contact-address-box:hover span:before{
	color: var(--main-lite-color);
}
.single-contact-address-box p a{
	color: #828282;
}
.single-contact-address-box p a:hover{
	color: var(--main-lite-color);
}
.contact-form-image-box{
	top: -200px;
}
.about-image-box .text-box h3 span{
	color: var(--main-lite-color);
}
.breadcrumb-area .breadcrumb-menu ul li a:hover{
	color: var(--main-lite-color);
}
.single-testimonial-style2 .static-content .quote-icon span:before{
	color: var(--main-lite-color);
}
.single-blog-post .text-holder .blog-title a:hover{
	color: var(--main-lite-color);
}
.single-working-box-style2{
	width: 33.333333%;
}
.single-working-box-style2 .overlay-content .icon-holder{
	border: 2px solid var(--main-lite-color);
    background: var(--main-lite-color);
}
.single-working-box-style2 .read-more a span:before{
	background: var(--main-lite-color);
}
.single-working-box-style2 .text-holder .title .count{
	color: #5d5d5d;
}
.working-style-bottom{
	padding-top: 50px;
}
.working-style2-area{
	padding: 0px 0 70px;
}
.main-menu .navigation > li > ul > li > a:after{
	background: url(../siteimg/dropdown-menu-arrow.png)
}
.why-choose-title .button:after{
	background: url(../siteimg/button-shape.png)
}
.main-slider.style2 .slide-content .btn-box a.slide-style2-button:before{
	display: none;
}
.main-slider.style2 .slide-content .btn-box a.slide-style2-button{
	font-size: 22px;
}
.single-blog-post .img-holder .overlay .box .link-icon a:hover span:before{
	color: var(--main-lite-color);
}
.single-project-style7 .overlay-content .inner-content .title-box a:hover {
    color:var(--main-white-color);
}
.single-team-member .sociallinks li a:hover i {
    background: var(--main-lite-color);
}
.single-blog-colum-style1:before{
	bottom: auto;
}
.single-blog-post .meta-box .meta-info li a {
    color: var(--main-lite-color);
}
.single-blog-post.style3 .text-holder:before {
    background: var(--main-lite-color);
}
.single-blog-post.style3 .text-holder:after{
	background: var(--main-lite-color);
}
.single-blog-post.style3 .post-date{
	background: var(--main-lite-color);
}
.breadcrumb-area .inner-content-box .title-s2 span {
    color: #99ff00;
}
.header-style2{
	z-index: 999;
}
h6.head_class {
    margin-bottom: 10px;
}
.header-style2.stricky-fixed{
	z-index: 999 !important;
}
.instagram-area {
    background: var(--main-green-color);
}
.instagram-items li .img-holder iframe {
    width: 1000px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
	float: right;
}
.instagram-title p, .instagram-title li {
    color: #ffffff;
}
.project-filter li:hover .count, .project-filter li.active .count {
    display: none;
}
.single-advantages-box:hover .static-content{
	opacity: 1;
	transform: translateY(0%);
}
.single-advantages-box {
    margin-bottom: 30px;
}
.single-advantages-box .icon-holder img.img-fluid {
    width: 60px;
}
.single-similar-project .img-holder::before {
    background: linear-gradient(to right, rgba(233,33,48, 0) 0%, #8bc34a 100%);
}
.row.filter-layout.masonary-layout.justify-content-center .col-xl-3.col-lg-6.col-md-6.col-sm-12 {
    position: inherit !important;
    left: auto !important;
    top: auto !important;
	transform: inherit !important;
}
.row.filter-layout.masonary-layout.justify-content-center {
    height: fit-content !important;
}
#html5-close img {
    width: 20px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    background: #e9212e;
    border-radius: 100px;
}
.scroll-to-top{
	bottom: 70px;
}
/*Media Query Starts*/
@media only screen and (min-width: 768px) and (max-width: 991px){
	.instagram-items li {
		width: auto;
	}
	.top-bar-style2{
		display: none;
	}
}
@media only screen and (max-width: 767px){
	.instagram-items li {
		width: auto;
	}
	.contact-form-image-box {
		display: none;
	}
}
@media only screen and (max-width: 1024px){
	.top-bar-style2{
		display: none;
	}
	.single-footer-widget .usefull-links ul.borders-left {
		margin-left: 15px;
		padding-left: 30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
	.instagram-items li {
		width: auto;
	}
}
@media (max-width: 560px){
	.top-bar-style2{
		display: none;
	}
	.contact-form-image-box {
		display: none;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1880px){
	.instagram-title {
		margin-right: 0px;
		padding: 50px 0px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1380px){
	.mainmenu-right.style2{
		margin-left: 40px;
	}
}
@media only screen and (max-width: 991px){
	.main-menu{
		z-index: 99999999;
	}
	.main-menu .navbar-collapse > .navigation > li:hover > a, .main-menu .navbar-collapse > .navigation > li > ul > li:hover > a, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a, .main-menu .navbar-collapse > .navigation > li.current > a{
		background: var(--main-lite-color);
	}
}
@media only screen and (min-width: 768px){
	.why-choose-content .single-box.blackbg.mobileview{
		display: none;
	}
}
@media only screen and (max-width: 991px){
	.logo-box-style2 a img{
		width: 50%;
	}
	.main-menu-box{
		position: relative;
    	display: block !important;
    	float: none !important;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
	.single-working-box-style2{
		width: 50%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.single-working-box-style2{
		width: 50%;
	}
}
@media only screen and (max-width: 767px){
	.single-footer-widget .usefull-links ul.borders-left{
		margin-left: 0px !important;
		padding-left: 0px !important;
	}
	.why-choose-content .single-box.blackbg.mobileview{
		display: block;
	}
	.why-choose-content .single-box.blackbg.mobilehide{
		display: none;
	}
	.single-working-box-style2{
		width: 100%;
	}
	.single-working-box-style2 .overlay-content .icon-holder{
		margin: 0 auto 10px;
	}
	.single-working-box-style2 .icon-holder{
		width: 80px;
    	height: 80px;
	}
	.single-working-box-style2 .icon-holder span:before{
		font-size: 35px;
    	line-height: 75px
	}
	.single-working-box-style2 .text-holder .title .count{
		font-size: 60px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1880px){
	.instagram-items li {
		width: auto;
	}
}
/*Media Query Ends*/